body{
     font-family: 'Roboto', sans-serif;
     width: 100%;
      background-color: #ec2c22;
}
.post-list{
    font-family: proxima-nova,sans-serif;
    margin: 0;
    font-size: 1.33333rem;
    height: 100%;
    background-color: #ec2c22;
    padding-top: 52px;
    width: 100%;

}
.list-item
{
    position: relative;
    top:30px;
    font-size: 40px;
    font-weight: 750;
    color: white;
    text-align: left;
    padding-top: 10px;    
    padding-left: 5%;
    -webkit-animation: fadeInUp .5s 0ms cubic-bezier(.215,.61,.355,1) both;
    animation: fadeInUp .5s 0ms cubic-bezier(.215,.61,.355,1) both;
    -webkit-transition: background-color .3s cubic-bezier(.215,.61,.355,1);
    transition: background-color .3s cubic-bezier(.215,.61,.355,1);
}
.list-item:hover
{  height: 100%; 
   background-color: #DEB887;
   animation-delay: .1s;
   transition: 1s;   
}
    .list-item-title {
    line-height: 1.15em;
     font-size: 60px;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: white;
}
.pic { 
     position: fixed;
     bottom: 0; 
     background-color:#DEB887;height:25%;width:100%;
     left:0;

}
.background{

    position: fixed;
    top:0;

}
.time {
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  }

#time {
  width: 50%;
  clear: both;
  background-color: black;
  height: 5px;
}

#music-player{
  opacity:0;
  position:absolute;
  top:-100px;
}
.audio{
    
    position: relative;
    bottom:25px;
    left: 75%;
    padding-left: 10px;
    border-radius: 50%;
}
    .audio:hover {
	background-color: rgba(0,0,0,0.8);
	box-shadow: 0px 0px 10px rgba(255,255,100,1);
	text-shadow: 0px 0px 10px rgba(255,255,100,1);
}

.body{
    background-color: #ec2c22;
}
.starman{
  
    position:fixed;
    top:12%;
    left: 30%;
    z-index: 0;
    height: 75%;
    opacity: 0.3;

} 


h1{    
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 80%;
    text-align: center;
    padding-left:10px; 
    opacity: 1;
    z-index: 3;
    }
    h2{
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-left: 20px;
        position: relative;
        padding-top: 20px;
        
        
    }
p {  
      line-height: 1em;   
      text-align:left;
      color: white;
      z-index: 2;  
      padding-top: 0;
      padding-left: 2%;
      padding-bottom: 20px;
      font-size: 20px;
      font-weight: 500;
      width: 60%;
}    
h3{
    text-align: left;
   
}


.slide{
    padding-left:10px;position:relative;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.215,.61,.355,1);
    transition: -webkit-transform .3s cubic-bezier(.215,.61,.355,1);
    transition: transform .3s cubic-bezier(.215,.61,.355,1);
    transition: transform .3s cubic-bezier(.215,.61,.355,1),-webkit-transform .3s cubic-bezier(.215,.61,.355,1);
}
@media screen and ( max-width:600px){

   .starman {
    position: fixed;
    bottom:13.5%;
    height: 70%;
    width: 200px;
    }

    .pic {
     background-color:#DEB887;height:15%;width:100%;opacity: 0.1;
    }  
    .audio{
    
    position: relative;
    bottom:25px;
    left: 60%;
    padding-left: 10px;
    }
    .audio:hover {
    border-radius: 50%;
    height: 30px;    
	background-color: rgba(0,0,0,0.8);
	box-shadow: 50px 50px 50px 50px rgba(255,255,100,1);
	text-shadow: 10px 10px 10px 10px rgba(255,255,100,1);

}

    p {
        font-size: 16px;
        width: 60%;
        line-height: 1.2em;
        
    }
  
    h1{
        font-size: 25px;
    }
    
.list-item
{
    position: relative;
    width: 95%;
    font-size: 30px;
    font-weight: 750;
    color: white;
    text-align: left;
    padding-top: 0%; 
    line-height: 1.15em;
    margin-bottom: .15em;
    padding-left: 5%;
}.list-item:hover{
    background-color: #DEB887;
}
}