<!-- here?!
     yesnote 
     one sec let me open notepad will type ther
--> 
    
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<section id='mission' class="top">
  <div class="main">
    <div>
      <h1> Moving toward a society that consumes science</h1>
    </div>
    <br>
     <div style="display:flex;">
      <a href="about#second"><i class="arrow down"></i><i class="arrow down"></i></a><h2>Our why</h2>  
     </div>
   </div>
  
  
  <div  id='second'  class='example' >
   <article style='' data-aos="zoom-in" >  
 
    <h1>Our Why</h1> 
    <p>  
       Shaping now a future world in which human beings are free to choose and create the life they want at any age With vitality, is our commitment.
    </p>
    <p>  
      Today, aging is not defined as a disease by the World Health Organization, but scientists are 
      already see a connection between diseases like Parkinson's and Alzheimer's as part of the aging process.
      Our platform filters and alows you to donate directly to the most cutting edge labs in the field, only to research that could lead to a breakthrough and turn into future cure.
      
      In order for humanity to arrive at discoveries effectively, it is necessary to create a platform that bridges and concentrate funding for those who dare.
   
        For the price of cosmetics, you can help paint the future.
    </p>
    </article> 
  </div>
</section>
<section id="adv" >
   <div class="example" style="padding-top:100px;" >
     <div class="main">
    <div>
      <h1> We set out on a journey to eliminate diseases</h1>
    </div>
     </div> 
    <article data-aos="zoom-in" >
 
         <h1>The obstacle</h1>
        <p>Excellent science consists of information and knowledge, curiosity and freedom to play and explore new directions. Investor belief in innovative research requires daring and recognition that investment can go down the drain, but it seems that believing in past failures without any new satisfactory explanation, in the long run, has done much more damage to investors and science.
        In recent years, most attempts to cure Alzheimer's have been based on the Amyloid beta hypothesis, The lack of investment in other directions proved to be a mistake. Of course, it is very convenient to go to a Familiar place in a new experiment and pray that this time it will work, but in practice it has moved science very little into understanding the disease despite the enormous amounts of money that was invested in the experiments.</p>
        <h3 style='color:#DACB0D;'>Food for thought by the Nobel laureate on the decoding of ribosome structure, Professor Ada Yonath</h3>
        <p>X-ray crystallography is an accepted technique for examining the spatial structure of biological molecules and other microscopic structures. In this method, crystals are formed from the material, irradiated by X-rays, and from the dispersion of radiation the structure of the molecule is determined. The application of the method to the ribosomes was considered difficult and even impossible due to their size, internal complexity, flexibility and instability, which made it harder to crystallize them into crystals and to perform crystallographic measurements. Yonath did not shy away from the difficulties. She got inspired by bears, the bears, who enter a winter coma, during which the ribosomes in their cells converge into a crystal-like structure.
       </p>
        <h2 style="margin-bottom:100px;">This is what we mean by information and knowledge, curiosity and freedom to play and explore new directions.</h2>
        
        <h1>
          Why now ?
        </h1>    
        <p style="margin-bottom:100px;">
          <li > We are at a unique era, never in human history was so much wealth consitrted at private hands, According to the Global Wealth Report for 2017, there were 36 million millionairs in the world, at the 2018 report there was an increase of 6 million more, to a total of 42 million.
          We know for sure that dimand drives innovation, and with the grwoing and aging millionairs longevity sceince will contain attractive and fruitful investments in the coming decades.</li>
          <li>Boomer scientists have accumulated a great deal of scientific knowledge and experience. When they see technological development, such as the big data tools available today that enable research that was previously impossible, their passion and motivation to develop drugs and treatments increase.</li>
        </p>
        
      </article>
    </div>
</section>
<section id='about' >
    <div class="main">
        <div>
            <h1>Mission Alpha</h1>
        </div>
          <div>
            <p>
             Mendelhaim is in a mission to bring cutting age technology into human health care, we belive in creating inspiring content to engage researchers, developers and investors in health tech.
            </p>
          </div>
           <a href="about#thired"><i class="arrow down"></i><i class="arrow down"></i></a>
      </div>
    <div  id="thired" class="example" data-aos="fade-right"   data-aos-offset="500"
     data-aos-easing="ease-in-sine" >
      <div style="margin-bottom:70px;" >
     <h1>Social treasure, a world free of disease for everyone lying in the unknown, awaits for our society to wake up and raise the compass, start working together towards achieving it.</h1> 
      <p>Our values ​​are the building blocks in witch design a future that contains new Dreams byeond we imagne </p>
      </div>
      <div>
       <h2 >Impact & Innovation</h2>
     <p>
      We are here to promote the innovators who are struggling to improve the world, this is our way to impact
      Commitment
     </p>
    <h2>
      Compassion
    </h2>
     <p>   
      We are aware of the accelerated development and the social dilemmas that lie ahead in the near future. Compassion is what will connect us as one society and let us take advantage of progress in a positive and ethical way. Massive medical progress is essential to human functioning
     </p>
    <h2>
      Sharing
    </h2>
     <p>
      Sharing is caring, adding content is our way to create value to our community and bridge between science and people.
     </p>

      </div>
    </div>
</section>
  <app-try></app-try>

<footer><div>
  <img style="display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:auto;" src="assets/SABA.png" width="120px" height="100"></div>
  <div style="text-align: center;margin-bottom:100px;">Mendel-Haim</div>
  </footer>
<!--
<section id='data'>
  <div class="example">
 <div style="display: flex;"><h1> Where is everyone ?<img src='assets/b1.png'></h1></div>
      <p>According to the Alzheimer's Association, 5.8 million Americans living with Alzhaimer Diseasess, by 2050 this number is projected to rise to nearly 14 million.
        Imagine the entire population of Michigan state is sinking into darkness of Alzhaimer Diseasess. Fighting Old Age related diseases is a Global mission.
      </p>
  </div>
</section>
 !-->
    
<script>
  
  $(document).scroll(function(){
    var scrollTop = $("html").scrollTop();
    if(scrollTop > 150){
        $(".about").fadeIn();
    }
    else
        $(".about").fadeOut();
});
</script>
<script>
  AOS.init();
</script>
<script>
 $(document).ready(function() {
       var myElement = $('.top');
       $(window).on('scroll', function () {
         var st = $(this).scrollTop();
         myElement.css({
            'opacity': 1 - st / 600
         });
      });
    });
    </script>
<script type="text/javascript" src="skrollr.min.js"></script>
    <script type="text/javascript">
    var s = skrollr.init();
    </script>