html {
  scroll-behavior: smooth;
}
.nav{
    position: fixed;
}
.bg{
background-image: 'url(/assets/cell.jpg)';
width: 80%;
position: fixed;
bottom: 0;
}
.main{
 margin-bottom: 100px;    
 padding: 12%;
 display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
  display: flex;
  flex-direction: column;
  align-items: center;
    width: 100%;    
}
.main h1{
   

    text-align: center;
    font-size:60px;
    width: 100%;
    margin:5px;
}

.main h2{ 
   position: relative;
   top:12px;
   text-align: center;
   color: white;
   margin: 5px;
}
.main p{ 
   text-align: center;
    font-size: 40px;
    margin-top: 25px;
    width: 100%;
    
    color:rgba(255, 0, 0, 1);
}
.example {

bottom: 50px;
//color: rgba(57, 94, 102, 1);//
color:white;
padding-top: 5%;
padding-left: 15%;
z-index: 2;
width: 90%;
}
section{width: 100%;}
#myVideo {
  position: relative;
  z-index: 2;
  right: 0;
  top: 0;
  min-width: 100%; 
  min-height: 80%;
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
     rgba(#0A2B30, 0.8),
      rgba(#0A2B34, 0.8)
    )
}

h1{
    color: white;
    width: 70%;
    padding: 3px;
}
h2{
    padding: 3px;
}
li{color:white;
 
}
p{  
    color: white;
    z-index:2;
    letter-spacing: 5;
    line-height: 20pt;
    width:70%;
    font-size: 20px;
    line-height: 1.5em;
}

 i {
    z-index: 4;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    justify-content : center;
    display: block;
    width: 30px;
    height: 30px;  
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: 10px;
    animation: animate 2s infinite;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }}
 .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
    display: block;

}

@media (max-width: 800px){
.example{}
#thired{margin-top: 200px;}
  
}
@media (max-width: 600px){
.example {
display: flex;
flex-direction: column;
align-items: center;

width: 100%;
padding-left:1em;
padding-right: 1em; 


}
.main h1{
    text-align: center;
    font-size:40px;
    width: 100%;
   
}
.main p{
    font-size: 30px;
}
h1{
    text-align: center;
    font-size: 30px;
    width: 100%;
}
h2{
    font-size: 20px;
    text-align: center;
}
h3{
    padding: 5px;
}
p{
    font-size: 18px;
    text-align: center;
    width: 100%;
    z-index: 3;
}
img{
    width:50px;
}
}