


<br>
<br>
<div class="example">
  <h4  style="color:rgba(57, 94, 102, 1);">Filter by disease</h4>
    <br>
    <input type='text' [(ngModel)]="textfilter" class='form-control'>
  <div class="grid grid-pad">
    <a *ngFor="let research of a | researchfilter: textfilter"
    [class.selected]="research === selectedResearches"
    (click)="onSelect(research)" 
    routerLink="/detail/{{research.id}}" class="col-1-4">
      <div class="module hero">
          <h4>{{research.name}}</h4>
          <br>
          <P>{{ research.lab}}</P>
          <br>
          <p>{{ research.category}}</p>
      </div>
    </a> 
  </div>
</div>