
body{ font-family: sans-serif;}
a{ 
    color: black;
  }
div{
    color:white;
    font-family: 'Roboto', sans-serif;
}
h2{
    font-family: 'Roboto', sans-serif; 
    color: white;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.1ex;
    z-index: 4;
}
a{
    text-decoration: none;
}

.details{
    font-size: 23px;
    position:absolute; top:68.5%;left:10%;
    line-height: 1.4em;
}
img{
    z-index: 0;
    position:absolute; top:15%;left:30%;width: 33%;
}

img.credit{ width: 200px; position:relative; bottom: 0; }
.main{
    font-size: 80px;
    z-index:1;
    position:absolute;
    top:35%;
    left:10%;
    font-weight: 600;
    width:70%;
    line-height: 1em;
    }

.brief{
    position:absolute;
    top:110%; 
    left:10%; 
    padding-bottom:200px;     
}
.brief p{
    font-size: 22px;
    line-height: 1.5em;
    color:lightslategray;
    left:10%;width:60%; margin:0;
}
.bg{ width:100%;top:0;height:100%;position:absolute;}
.bg:hover img{
          -webkit-transition: all .8s ease-in-out;
 
    -webkit-transform: scale(1.1);
}
#player{}
.play{
    position: absolute;
    width: 50px;
    left: 350px; 
    margin-top:23px; 
    border-radius: 50%;
    background-color: #ec2c22;
    border: 1px solid white; 
    border-width: 2px;
    
    }

.play:hover{
        -webkit-animation-direction: alternate;
        background-color: powderblue;
    }
@media screen and (min-width:611px) and (max-width:1000px){
     .main{
         font-size: 50px;
         font-weight: 550;
         font-stretch: expanded;
         }
       img{
         position:absolute; top:15%;left:0%;width: 63%;
       }    
}

@media screen and ( max-width:611px){
    .main{
         font-size: 40px;
         font-weight: 550;
         font-stretch: expanded;
         }
    img{
         position:absolute; top:7%;left:0%;width: 90%
       }
    .details{ 
                font-size: 18px; top:60%;margin-top:2px; 
            }
   
    .play{
            width: 40px;
            left: 250px;
            margin-top:17px; 
     }
     .brief p{
         width: 90%;
         text-align: center;
     }
    }